<h1>New diorama</h1>

<div id = "site-box">
	<%= render 'form' %>
	<%= link_to 'Back', dioramas_path %>
</div>

<div id = "left-box">
	<%= javascript_tag do %>
		window.modelJSON = <%= raw @selectedStage.scene_data %>
		window.selectedModel = <%= raw @selectedModel.modeldata %>
		
		<% unless @selectedStage.textures.empty? %>
			window.texturePath = "<%= @selectedStageTextures.data.url %>";
		<% else %>
			window.texturePath = "";
		<% end %>
		<% unless @selectedModel.textures.empty? %>
			window.modelTexturePath = "<%= @selectedModelTextures.data.url %>";
		<% else %>
			window.modelTexturePath = "";
		<% end %>
	<% end %>
	<%= javascript_include_tag "three", "stats.min", "styledstats", "dioramas", "main_creatediorama", "OrbitControls", "EditorControls", "TrackballControls" %>
</div>
<!-- とりあえず表示しているだけ -->
<div id = "modelSelectionParent">
	<h2>ModelData:</h2>
	
	<div id = "modelSelection">
		<% @model_data.each do |model_datum| %>
		  	<div class = "item">
			    <%= model_datum.id %>
	  		</div>
		<% end %>
	</div>
</div>