<style>
	#site-box {  width: 1200px;  }
	#left-box {
	  width 600px;
	  float:left;
	  margin-right:70px;
	}
	#right-box {
	  float:right;
	}
</style>
<p id="notice"><%= notice %></p>

<div id = "left-box">
	<p>
	  <strong>Title:</strong>
	  <%= @diorama.title %>
	</p>
	
	<%= javascript_tag do %>
		window.model_json = <%= raw @diorama.stage.scene_data %>
		window.model_transforms = <%= raw @positions %>
		window.selected_model = <%= raw @selectedModel.modeldata %>
		
		<!-- If modeldata has at least one texture, set the path -->
		<% unless @diorama.stage.textures.empty? %>
			window.texture_path = "<%= @diorama.stage.textures[0].data.url %>";
		<% else %>
			window.texture_path = "";
		<% end %>
	<% end %>
	
	<%= javascript_include_tag "three", "stats.min", "show_diorama", "OrbitControls" %><br>
</div>

<%= link_to 'Edit', edit_diorama_path(@diorama) %> |
<%= link_to 'Back', dioramas_path %>
