<p id="notice"><%= notice %></p>

<div id="leftBox">
	<p>
	  <strong>Title:</strong>
	  <%= @diorama.title %>
	</p>
	
	<%= javascript_tag do %>
		window.modelJSON = <%= raw @diorama.stage.scene_data %>
		window.modelTransforms = <%= raw @positions %>
		window.modelIds = <%= raw @ids %>
		window.modelData = <%= raw @modelData %>
		
		window.textures = []
		<% for value in @textures %>
			<% if value != nil %>
				window.textures.push("<%= value.data.url %>")
			<% else %>
				window.textures.push("")
			<% end %>
		<% end %>
		
		window.selectedModel = <%= raw @selectedModel.modeldata %>
		
		<!-- If modeldata has at least one texture, set the path -->
		<% unless @diorama.stage.textures.empty? %>
			window.texturePath = "<%= @diorama.stage.textures[0].data.url %>";
		<% else %>
			window.texturePath = "";
		<% end %>
	<% end %>
	
	<%= javascript_include_tag "stats.min", "styledstats", "dioramas", "dioramacontroller", "dioramaview", "main_showdiorama", "EditorControls", "TrackballControls" %><br>
</div>

<%= link_to 'Edit', edit_diorama_path(@diorama) %> |
<%= link_to 'Back', dioramas_path %>
