<p id="notice"><%= notice %></p>

<div id = "left-box">
	<p>
	  <strong>Title:</strong>
	  <%= @diorama.title %>
	</p>
	
	<%= javascript_tag do %>
		window.modelJSON = <%= raw @diorama.stage.scene_data %>
		window.modelTransforms = <%= raw @positions %>
		window.selectedModel = <%= raw @selectedModel.modeldata %>
		
		<!-- If modeldata has at least one texture, set the path -->
		<% unless @diorama.stage.textures.empty? %>
			window.texturePath = "<%= @diorama.stage.textures[0].data.url %>";
		<% else %>
			window.texturePath = "";
		<% end %>
	<% end %>
	
	<%= javascript_include_tag "three", "stats.min", "show_diorama", "OrbitControls", "EditorControls", "TrackballControls" %><br>
</div>

<%= link_to 'Edit', edit_diorama_path(@diorama) %> |
<%= link_to 'Back', dioramas_path %>
