<p id="notice"><%= notice %></p>

<div id="leftBox">
	<p>
	  <strong>Title:</strong>
	  <%= @diorama.title %>
	</p>
</div>

<div id="id"><%= @diorama.id %></div>
	
<%= javascript_include_tag "stats.min", "styledstats", "dioramas", "dioramacontroller", "dioramaview", "main_showdiorama", "EditorControls", "TrackballControls" %><br>

<%= link_to 'Edit', edit_diorama_path(@diorama) %> |
<%= link_to 'Back', dioramas_path %>
