<h1>Listing model_data</h1>

<table>
  <thead>
    <tr>
      <th>Modeldata</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @model_data.each do |model_datum| %>
      <tr>
        <!--<td><%= model_datum.modeldata %></td>-->
        <td><%= model_datum.fileName %></td>
        <td><%= link_to 'Show', model_datum %></td>
        <td><%= link_to 'Edit', edit_model_datum_path(model_datum) %></td>
        <td><%= link_to 'Destroy', model_datum, method: :delete, data: { confirm: 'Are you sure?' } %></td><!---->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Model datum', new_model_datum_path %>
