<%= stylesheet_link_tag "model_data" %>
<p id="notice"><%= notice %></p>

<p><strong>Modeldata:</strong></p>
<div id="id"><%= @model_datum.id %></div>

<%= javascript_include_tag "stats.min", "TrackballControls", "styledstats", "show_model" %>

<%= link_to 'Edit', edit_model_datum_path(@model_datum) %> |
<%= link_to 'Back', model_data_path %>
