<%= stylesheet_link_tag "stages" %>
<p id="notice"><%= notice %></p>

<p><strong>Stagedata:</strong></p>
<div id="id"><%= @stage.id %></div>

<%= javascript_include_tag "stats.min", "TrackballControls", "styledstats", "show_model" %>

<%= link_to 'Edit', edit_stage_path(@stage) %> |
<%= link_to 'Back', stages_path %>
